#!/usr/bin/gnuplot
reset

set term png

set xlabel "x []"
set logscale x

set yrange [0:4]

set key left top

{% for short, long in fileMap.iteritems()  %}
set title "Fig. 17. (a): R_{2}(x,Q²,m_c^2) {{ long }}"
set out "./img/figure17a-{{ short }}.png"
plot    "./data/F2Lc-q2_1-{{ short }}.dat"  u 1:(($2+$3+$4)/$2) w l t "Q²=1e1",\
        "./data/F2Lc-q2_2-{{ short }}.dat"  u 1:(($2+$3+$4)/$2) w l t "Q²=1e2"
{% endfor %}

{% for short, long in fileMap.iteritems()  %}
set title "Fig. 17. (b): R_{L}(x,Q²,m_c^2) {{ long }}"
set out "./img/figure17b-{{ short }}.png"
plot    "./data/F2Lc-q2_1-{{ short }}.dat"  u 1:(($5+$6+$7)/$5) w l t "Q²=1e1",\
        "./data/F2Lc-q2_2-{{ short }}.dat"  u 1:(($5+$6+$7)/$5) w l t "Q²=1e2"
{% endfor %}

set out
